.content {
  font-size: 20px;
  font-family: monospace;
  text-align: center;
  margin-left: 150px;
  margin-right: 100px;
}

button {
  font-family: monospace;
  font-size: 20px;
  box-shadow: none;
  border: 1px solid #fff;
  background-color: #CA9FFA;
  margin-left: 580px;
  margin-top: 50px;
  padding: 10px 20px 10px 20px;
  a {
    text-decoration: none;
  }
}
